extends layout.pug

block content
  h1.title.has-text-danger #{name}: An error occurred.
  p.subtitle An error below occurred while accessing GitHub. Recognize the usage of this package.
  table.table
    tbody
      if error
        tr
          th error
          td= error
      if error_description
        tr
          th error_description
          td= error_description
      if error_uri
        tr
          th error_uri
          td
            a(href=`${error_uri}`)= error_uri
