doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' contet='width=device-width, initial-scale=1')
  title #{name}: OK!
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css')
  script(defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')

body
  section.section
    div.container
      block content
      button.button.is-warning.js-close close this window

script.
  document.querySelector('.js-close').addEventListener('click', () => window.open('about:blank', '_self').close())
